.App {
  text-align: center;
}

.navbar{
  background-color:black;

}
.nav{
  width: 100%;
  
}
.navbar-brand{
text-align: center;
width: 15%;
background-color: aqua;
color: rgb(230, 213, 184)!important;
}
/******************************** navlink ********************************************/
.nav-link{
  color: rgb(230, 213, 184)!important;
}
.nav-link:hover{
color:rgb(240, 165, 0)!important;
}
.nav-link.active{
  color:rgb(228, 88, 38)!important;
  }
  
.navbar-nav{
  width: 100% !important;
}
/**************************************** nav-toggler******************************/
.navbar-toggler{
background-color: rgb(230, 213, 184)!important;
}
.navbar-toggler:active{
  background-color:rgb(228, 88, 38)!important;

}
/*******************************************dropdown-menu**************************************/
.dropdown-menu{
  background-color: black !important;
  border: solid;
  border-color: rgb(230, 213, 184)!important ;
}

.dropdown-item{
color:  rgb(230, 213, 184)!important ;
}
.dropdown-item:hover{
  color:rgb(240, 165, 0)!important;
  background-color: black!important;

}
.dropdown-item:active{
  color:rgb(228, 88, 38)!important;
}
.dropdown-divider{
  color:  rgb(230, 213, 184)!important ;
}
